.formpage{
    input{
        border: 1px solid rgba(136, 136, 136, 0.30);
    }
    select{
        border: 1px solid rgba(136, 136, 136, 0.30);
        &::placeholder{
            color: rgba(136, 136, 136, 0.30) !important;
        }
        option{
            color: black !important;
        }
    }
}