.relatedblog{
    background-image: url("../../../public/images/imageblog1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .backgroundLayer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #27BDBE;
        z-index: 1;
        opacity: 60%;
    }
    .desc{
        position: relative;
        z-index: 2;
    }
}